/* Contact Section Styles  */

.contact-section {
	background-image: url("../svgs/contact-bg.svg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 100vh;
}

.contact-section .container {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.contact-info {
	font-size: 1rem;
	margin: 1rem 0;
}

.contact-wrapper {
	width: 100%;
	min-height: 500px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5%;
	margin: 3.5rem 0;
}

.contact-wrapper-left {
	width: 50%;
	height: 100%;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact-wrapper-right {
	width: 50%;
	height: 100%;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cform {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #00132f41;
	width: 100%;
	padding: 1.5rem;
	border-radius: 8px;
	color: var(--light-clr);
	border: 1px solid var(--blue-clr);
	box-shadow: 4px 11px 30px black;
}

.cform-label {
	width: 85%;

	padding-bottom: 0.5rem;
	font-size: 1.1rem;
}

.cform-name,
.cform-email,
.cform-message {
	width: 90%;
	outline: none;
	margin-bottom: 0.8rem;
	border-radius: 2px;
	border: none;
	padding: 0.5rem;
	font-size: 1rem;
	background-color: rgba(0, 0, 0, 0.421);
	color: var(--light-clr);
	border: 1px solid var(--sub-blue-clr);
}

.cform-name:focus,
.cform-email:focus,
.cform-message:focus {
	border: 1px solid var(--blue-clr-hover);
}

.cform-message {
	resize: none;
	min-height: 5rem;
	max-height: 8rem;
}

.cform-send {
	width: 30%;
	outline: none;
	border-radius: 8px;
	padding: 0.3rem 0.6rem;
	background-color: var(--blue-clr);
	color: var(--light-clr);
	font-size: 1.2rem;
}
.cform-send:hover {
	background-color: var(--blue-clr-hover);
}

/* Right Side Contact Icons  */

.contact-wrapper-right h3 {
	color: var(--purp-clr);
}

.contact-icons {
	min-height: 400px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	background-color: #0704215b;
	width: 100%;
	padding: 2rem;
	border-radius: 8px;
	color: var(--light-clr);
	border: 1px solid var(--purp-clr);
	box-shadow: 4px 11px 30px black;
}

.contact-icons a {
	margin: 1rem;
}

.contact-icons i {
	color: var(--purp-clr);
	font-size: 3.5rem;
	margin: 1rem;
	transition: all 200ms ease;
}

.contact-icons i:hover {
	color: var(--purp-clr-hover);
}
