/* Footer Section Style  */

.footer-section {
	background-image: url("../svgs/footer.svg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 30vh;
}

.footer-links-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
