/* Hero Styles  */

.hero {
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	z-index: 1;
	overflow-x: hidden;
}

.hero-bg {
	position: absolute;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	filter: saturate(1.1);
	transform: scaleX(-1);
	width: 100%;
	height: 100%;
	z-index: 2;
}

/* Hero left side  */

.hero-side {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1%;
	padding: 0 2.5rem;
	color: white;
	background-color: rgba(0, 0, 0, 0.561);
	z-index: 5;
	width: 60%;
	height: 100%;
	animation: slide-hero-in 1.35s ease-out;
}

.hero-title {
	font-size: 3.2em;
	font-weight: bolder;
}

.hero-name {
	color: var(--blue-clr);
}

.hero-sub-title {
	color: var(--purp-clr);
	font-size: 2rem;
	font-weight: bold;
}

.hero-side-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	line-height: 2rem;
	font-size: 1.1rem;
	padding: 1rem;
}

.hero-view-projects {
	border: 1px solid var(--blue-clr);
	padding: 2px 5px;
	border-radius: 5px;
	margin: 0 4px;
	text-align: center;
	font-weight: bold;
}

.hero-hire-me {
	background-color: var(--purp-clr);
	color: white;
	padding: 0.6rem 1rem;
	margin: 0.8rem 0;
	border-radius: 5px;
	width: 125px;
	text-align: center;
	font-weight: bold;
}

.hero-hire-me:hover {
	color: white;

	background-color: var(--purp-clr-hover);
}

/* stars  */

.star {
	position: absolute;
	width: 6px;
	height: 6px;
	background-color: transparent;
	z-index: 3;
	border: 6px solid transparent;
	border-bottom-color: rgb(255, 255, 255);
	top: -6px;
}

.star::after {
	content: "";
	position: absolute;
	left: -6px;
	top: 6px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-top-color: rgb(255, 255, 255);
}

/* Each stars  */

.star-1 {
	top: 15%;
	left: 38%;
}
.star-2 {
	top: 46%;
	left: 30%;
}
.star-3 {
	top: 60%;
	left: 66%;
}
.star-4 {
	top: 26%;
	left: 90%;
}
.star-5 {
	top: 4%;
	left: 67%;
}
.star-6 {
	top: 29%;
	left: 63%;
}
.star-7 {
	top: 20%;
	left: 9%;
}
.star-8 {
	top: 74%;
	left: 44%;
}
.star-9 {
	top: 58%;
	left: 14%;
}
.star-10 {
	top: 57%;
	left: 96%;
}

/* Animations  */

@keyframes slide-hero-in {
	0% {
		transform: translateX(-1150px);
	}
	100% {
		transform: translateX(0px);
	}
}
