/* Hero Styles  */

.hero {
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
}

.hero-bg {
	position: absolute;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	filter: saturate(1.1);
	transform: scaleX(-1);
	width: 100%;
	height: 100%;
}

/* Hero left side  */

.hero-side {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1%;
	padding: 0 2rem;
	color: white;
	background-color: rgba(0, 0, 0, 0.561);
	z-index: 1;
	width: 60%;
	height: 100%;
}

.hero-title {
	font-size: 3.2em;
	font-weight: bolder;
}

.hero-sub-title {
	color: var(--purp-clr);
	font-size: 2rem;
	font-weight: bold;
}

.hero-side-content {
	line-height: 2rem;
	font-size: 1.1rem;
	padding: 1rem;
}

.hero-view-projects {
	border: 1px solid var(--blue-clr);
	padding: 6px;
	border-radius: 5px;
	margin: 0 5px;
	font-weight: bold;
}
