/* Hero Styles  */

.hero {
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	z-index: 1;
	overflow-x: hidden;
}

.hero-bg {
	position: absolute;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	filter: saturate(1.88);
	transform: scaleX(-1);
	width: 100%;
	height: 100%;
	z-index: 2;
	animation: hero-fade 2.8s 100ms ease-out;
}

/* Hero left side  */

.hero-side {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1%;
	padding: 0 2.8rem;
	color: white;
	background-color: rgba(0, 0, 0, 0.681);
	z-index: 5;
	width: 60%;
	height: 100%;
	animation: slide-hero-in 1.35s ease-out;
}

.hero-title {
	font-size: 3.5em;
	font-weight: bolder;
}

.hero-name {
	color: var(--blue-clr);
}

.hero-sub-title {
	color: var(--purp-clr);
	font-size: 2.2rem !important;
	font-weight: bold;
}

/* Hero About  */

.hero-about {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 85%;
	margin: 0;
	max-height: 275px;
	border-bottom: 1px solid var(--purp-clr);
	overflow: hidden;
}

.hero-about-space {
	height: 0.65rem;
	background-color: transparent;
}

.hero-about-text {
	width: 60%;
	margin: 0;
}

.more-about-me {
	border: 1px solid transparent;
	color: var(--blue-clr);
}

.more-about-me:hover {
	border-bottom: 1px solid white;
	color: var(--blue-clr-hover);
}

.hero-about-img {
	filter: grayscale(70%) opacity(80%);
	width: 280px;
	min-width: 250px !important;
	transition: all 200ms ease-out;
}

.hero-about-img:hover {
	filter: grayscale(0%) opacity(100%)
		drop-shadow(2px 2px 10px rgba(0, 123, 255, 0.646));
}

/* Rest Of hero content  */

.hero-title-break {
	display: none;
}

.hero-side-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	line-height: 2rem;
	padding: 1rem;
}

.hero-text {
	font-size: 1.4rem;
}

/* View Projects Button Styles  */

.hero-view-projects {
	border: 2px solid var(--blue-clr) !important;
	padding: 4px 9px;
	border-radius: 5px;
	margin: 0 4px;
	text-align: center;
	font-weight: bold;
	transition: all 100ms ease;
}

.hero-view-projects:hover {
	box-shadow: inset 0px 0px 10px rgb(89, 147, 255),
		0px 0px 14px rgb(87, 140, 255);
	color: var(--light-clr);
	border: 2px solid rgb(169, 213, 255) !important;
}

/* Contact Me Button Styles  */

.hero-contact-me {
	background-color: var(--purp-clr);
	color: white;
	padding: 0.6rem 1rem;
	margin: 0.8rem 0;
	border-radius: 5px;
	width: 155px;
	text-align: center;
	font-weight: bold;
	font-size: 1.3rem;
	transition: all 200ms ease-out;
}

.hero-contact-me:hover {
	color: white;
	background-color: var(--purp-clr-hover);
}

/* stars  */

.star {
	position: absolute;
	width: 5px;
	height: 5px;
	background-color: transparent;
	z-index: 3;
	border: 5px solid transparent;
	border-bottom-color: rgb(255, 255, 255);
	top: -4px;
}

.star::after {
	content: "";
	position: absolute;
	left: -5px;
	top: 4.5px;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: rgb(255, 255, 255);
}

/* Each stars  */

.star-1 {
	top: 15%;
	left: 38%;
}
.star-2 {
	top: 46%;
	left: 30%;
}
.star-3 {
	top: 60%;
	left: 66%;
}
.star-4 {
	top: 26%;
	left: 90%;
}
.star-5 {
	top: 4%;
	left: 67%;
}
.star-6 {
	top: 29%;
	left: 63%;
}
.star-7 {
	top: 20%;
	left: 9%;
}
.star-8 {
	top: 74%;
	left: 44%;
}
.star-9 {
	top: 64%;
	left: 12%;
}
.star-10 {
	top: 57%;
	left: 96%;
}

/* Media Query (Mobile Size)  */

@media screen and (max-width: 830px) {
	/* Hero left side  */

	.hero-bg {
		background-position: 55%;
	}

	.hero-side {
		gap: 3%;
		padding: 0 1.1rem;
		background-color: rgba(0, 0, 0, 0.505);
		width: 100%;
		text-align: center;
	}

	.hero-title {
		margin-top: 1rem;
		font-size: 2.5em;
		font-weight: bolder;
	}

	.hero-name {
		color: var(--blue-clr);
	}

	.hero-title-break {
		display: block;
	}

	.hero-sub-title {
		color: var(--purp-clr);
		font-size: 1.5rem !important;
		font-weight: bold;
	}

	.hero-side-content {
		display: flex;
		flex-direction: column;
		gap: 0.3rem;
		line-height: 1.6rem;
		font-size: 1rem;
		padding: 1rem;
	}

	.hero-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.8rem;
		font-size: 1.2rem;
		color: var(--light-clr);
	}

	.hero-view-projects {
		border: 1px solid var(--blue-clr);
		padding: 6px 1rem;
	}

	.hero-contact-me {
		margin: 1rem auto;
	}
}

/* Specific Query For Hero About  */
@media screen and (max-width: 1040px) {
	.hero-about {
		width: 100%;
		padding: 0;
	}

	.hero-about-text {
		width: 250px;
		font-size: 1.05rem !important;
	}

	.hero-about-space {
		height: 0.15rem;
	}
}

/* Animations  */

/* Hero slide in  */

@keyframes slide-hero-in {
	0% {
		transform: translateX(-1150px);
	}
	100% {
		transform: translateX(0px);
	}
}

/* Hero background brightness  */

@keyframes hero-fade {
	0% {
		filter: saturate(0.29);
	}
	47% {
		filter: saturate(1.2);
	}
	69% {
		filter: saturate(1.523);
	}
	100% {
		filter: saturate(1.88);
	}
}
