/* Open Sans Google Font  */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

/* Global Variables  */

:root {
	/* Primary Colors  */
	--blue-clr: rgb(33, 110, 255);
	--blue-clr-hover: rgb(115, 164, 255);
	/* Secondary Colors  */
	--purp-clr: rgb(159, 50, 255);
	--purp-clr-hover: rgb(96, 0, 180);
	/* Contrast Colors  */
	--dark-clr: #040010;
	--light-clr: #fff;
	/* sub colors  */
	--light-sub-clr: rgb(194, 194, 194);
	--sub-purp-clr: #070421;
}

/* Universal Resetter  */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global Setters  */

body {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	background: var(--sub-purp-clr);
}

li {
	list-style: none;
}

a {
	text-decoration: none !important;
}

p {
	color: var(--light-sub-clr);
	font-size: 1.1rem;
}

h2 {
	padding: 0.2rem 0.5em;
	color: var(--light-clr);
	font-weight: bold;
	border-bottom: 2px solid var(--blue-clr);
	width: fit-content;
	margin-bottom: 2rem !important;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 3.5rem 2rem;
	min-height: 75vh;
}
