/* More Projects Page Styles  */

.more-projects-page {
	background-image: url("../svgs/projects-page.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 1rem;
	min-height: 100vh;
	position: relative;
	z-index: 1;
}

.more-projects-filter {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	z-index: -1;
}

.more-projects-empty-space {
	height: 20vh;
}

.more-projects-page h1 {
	font-size: 3.2rem;
	font-weight: bold;
	color: var(--blue-clr);
	margin-bottom: 1.5rem;
}

.more-projects-project-container {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.33);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 1.5rem;
	margin: 4rem 0;
}

.one-project {
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	background-color: rgba(29, 0, 54, 0.565);
	margin: 0.8rem;
	width: 30%;
	min-width: 360px;
	max-width: 400px;
	min-height: 620px;
	max-height: 625px;
	overflow: hidden;
	transition: all 750ms ease;
}

.one-project:hover {
	transform: translate(-2.8px, -3.8px);
	background-color: rgba(51, 0, 98, 0.579);
}

.one-project-img {
	width: 100%;
	min-height: 240px;
	max-height: 275px;
}

.one-project-bottom {
	padding: 0.7rem;
	width: 100%;
}

.one-project-title {
	font-size: 1.75rem !important;
	text-align: center;
	padding-bottom: 0.8rem;
	margin: 0 !important;
}

.one-project-text {
	text-align: center;
	font-size: 1rem !important;
}

/* Project Stack  */

.one-project h4 {
	color: var(--purp-clr);
	text-align: center;
}

.one-project-tech .skill-anchor img {
	width: 32px;
	margin: 0.35rem;
}

.one-project-hr {
	color: rgb(255, 255, 255);
	width: 80%;
	margin: 0 auto;
}

/* Project Stack  */

.one-project-techs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.one-project-tech {
	filter: grayscale(1);
	transition: all 300ms ease;
}

.one-project-tech:hover {
	filter: grayscale(0);
	cursor: pointer;
}

/* Project Buttons  */

.one-project-btns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
