/* Navbar Styles  */

.navbar-container {
	position: fixed;
	top: 0;
	width: 100%;
	background: linear-gradient(to bottom, #010101, transparent);
	z-index: 10;
}

.navbar-container .container {
	display: flex;
	flex-direction: row;
	padding: 1rem 0;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.logo {
	width: 25%;
	font-size: 1.5rem;
	font-weight: bolder;
}

.logo:hover {
	color: rgb(68, 155, 255);
}

.navbar-ul {
	margin: auto 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0;
}

.navbar-item a {
	color: white;
	margin: 0 1rem;
	font-size: 1.2rem;
}

.navbar-item a:hover {
	color: rgb(94, 204, 255);
}
