/* Project Section Styles  */

.project-section {
	transform: translateY(-178px);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: 20%;
	width: 100%;
	min-height: 100vh;
	padding-top: 10rem;
}

.project-section .container {
	padding: 3rem 0;
}

.project-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

/* Primary Cards  */

.project-primary {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: 1px solid var(--blue-clr-hover);
}

.project-prime-card {
	border: 1px solid pink;
	width: 600px;
	min-height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 1rem;
	padding: 0.8rem;
	align-items: center;
	gap: 2%;
	transition: all ease;
}

.project-prime-title {
	font-size: 1.5rem;
	color: var(--purp-clr);
}

.project-prime-card p {
	color: var(--light-sub-clr);
	margin: 0;
	font-size: 1rem;
}

.project-prime-card-left {
	width: 50%;
	height: 100%;
}

.project-prime-card-right {
	width: 50%;
	height: 100%;
}

.project-prime-thumbnail {
	width: 100%;
	height: 100%;
}

.project-prime-tech-title {
	font-size: 1.1rem;
	color: var(--purp-clr);
	margin: 0.5rem 0;
}

.tech-icon {
	width: 40px;
	margin: 0.5rem;
	transition: all ease-in;
	filter: grayscale(1);
}

.tech-icon:hover {
	cursor: pointer;
	filter: grayscale(0);
}
